$font-size: 13.9px;
@media print {
  // Hiding elements
  .hide-on-print {
    display: none !important;
  }

  a:link {text-decoration: none !important;}
  a[href]:after {content: none !important;}

  .link a {
    color: black;
    font-style: italic;
    text-decoration: none !important;
  }
  html,
  body {
    width: 210mm;
    max-width: 210mm;
    height: 297mm;
    color: black;
    max-height: 297mm;
    padding: 0;
    margin: 0;
    h2 {margin: 0.0px 0.0px 0.0px 0.0px; font: 23px Times; color: black}
    h3 {margin: 0.0px 0.0px 0.0px 0.0px; font: Times}
    p {margin: 0.0px 0.0px 0.0px 0.0px; font: $font-size Times}
    ul {list-style-type: disc}
    li {margin: 0.0px 0.0px 0.0px 0.0px; font: $font-size Times}
    hr {margin-top: 4px;
        margin-bottom: 4px;
    }
    .header {
      text-align: center
    }
    .item {
      padding-top: 5px;
      padding-bottom: 5px;
    }
    .title {
      padding-top: 0px;
      padding-bottom: 3px;
    }
  }
}
