/* https://www.joshwcomeau.com/css/custom-css-reset/ */
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
.contacts {
  font-size: 16px;
  text-decoration: none;
}

.wrapper-main, .wrapper-header, .wrapper-footer {
  width: 100%;
  margin: 0 auto;
  max-width: 900px;
}

/* Sticky Footer */
.wrapper {
  min-height: calc(100vh - 40px);
}

.wrapper-footer {
  height: 40px;
}

/* End Sticky Footer */
/* Style inspiration and settings adapted from https://github.com/jgthms/web-design-in-4-minutes*/
/* Base */
html {
  font-size: 18px;
}

/* 01 Font family */
body {
  font-family: "Courier New", "Helvetica", sans-serif;
}

/* 03 Spacing */
.main-content {
  padding-top: 30px;
  padding-bottom: 30px;
  line-height: 30px;
}

div.main-content h2 {
  padding-top: 15px;
  padding-bottom: 5px;
}

header h1, h5 {
  display: inline;
}

/* 04 Color and contrast */
body {
  color: #c5ccce;
  background-color: #282f3a;
}

h1,
h2,
strong {
  color: #dcdede;
}

header h5 {
  font-weight: lighter;
}

/* 05 Balance */
code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

/* 06 Primary color */
a {
  color: #7e92a2;
}

/* 07 Secondary colors */
h1,
h2,
strong {
  font-weight: 500;
}

em {
  font-style: italic;
  font-weight: lighter;
}

.header {
  padding-top: 35px;
}

.header nav {
  padding-top: 10px;
  padding-bottom: 20px;
}

.header nav a {
  padding-right: 3px;
}

@media print {
  .hide-on-print {
    display: none !important;
  }

  a:link {text-decoration: none !important;}
  a[href]:after {content: none !important;}

  .link a {
    color: black;
    font-style: italic;
    text-decoration: none !important;
  }
  html,
  body {
    width: 210mm;
    max-width: 210mm;
    height: 297mm;
    color: black;
    max-height: 297mm;
    padding: 0;
    margin: 0;
    h2 {margin: 0.0px 0.0px 0.0px 0.0px; font: 25px Times; color: black}
    h3 {margin: 0.0px 0.0px 0.0px 0.0px; font: Times}
    p {margin: 0.0px 0.0px 0.0px 0.0px; font: 14px Times}
    ul {list-style-type: disc}
    li {margin: 0.0px 0.0px 0.0px 0.0px; font: 14px Times}
    hr {margin-top: 4px;
        margin-bottom: 4px;
    }
    .header {
      text-align: center
    }
    .item {
      padding-top: 5px;
      padding-bottom: 5px;
    }
    .title {
      padding-top: 0px;
      padding-bottom: 3px;
    }
  }
}

.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.profile .profile-info {
  flex: 1;
  margin-right: 20px;
}
.profile .profile-info h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
.profile .profile-info h3 {
  font-size: 18px;
  margin-bottom: 5px;
}
.profile .profile-info h4 {
  font-size: 16px;
  margin-bottom: 5px;
}
.profile .profile-image {
  flex: 0 0 200px;
}
.profile .profile-image img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

@media only screen and (max-width: 479px) {
  .mobile-hide {
    display: none !important;
  }
  .footer-text {
    float: left !important;
  }
  html {
    margin: 1em !important;
  }
}
