---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import headshot from "../assets/headshot.jpg";
---

<Layout>
  <div class="container mx-auto px-4 py-8 max-w-4xl">
    <div class="card bg-base-200 shadow-xl p-6">
      <div class="flex flex-col md:flex-row items-center gap-8">
        <div class="flex-1">
          <h1 class="text-3xl font-bold mb-2">David "Grant" McAllister Jr.</h1>
          <h2 class="text-xl text-primary mb-2">Senior Software Engineer @ EAB</h2>
          <p class="text-base-content/70 italic">MS Management Information Systems</p>
          <p class="text-base-content/70 italic">BS Computer Engineering, Minors in Mathematics & Computer Science</p>
        </div>
        <div class="avatar hidden md:block">
          <div class="w-48 rounded-full ring ring-primary ring-offset-base-200 ring-offset-2">
            <Image src={headshot} alt="Profile Image" width={200} height={200} />
          </div>
        </div>
      </div>
    </div>

    <div class="divider"></div>

    <div class="prose max-w-none">
      <h2 class="text-2xl font-semibold mb-4">About</h2>
      <p class="leading-relaxed">
        Hey there! I'm Grant McAllister, a Senior Software Engineer at EAB.
      </p>
      <p class="leading-relaxed mt-4">
        In my current job I work on the AI team building out AI infsatrucutre and tools that help Higher Education staff better serve their students.
      </p>

      <p class="leading-relaxed mt-4">
        I love exploring new technologies and learning new things, In my free time I enjoy mountain biking, hiking, building out my homelab, and contrinuting to open source.
      </p>

      <h2 class="text-2xl font-semibold mb-4 mt-8">Contact</h2>
      <p class="leading-relaxed">
        I'm always eager to connect and learn from others. If you have any questions, comments, or ideas you'd like to share, feel free to reach out to me at <a href="mailto:grantmca2221@gmail.com" class="link link-primary">grantmca2221@gmail.com</a>. I'd love to discuss them with you!
      </p>
    </div>
  </div>
</Layout>
