---
---

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>David "Grant" McAllister Jr. | My personal site</title>
  <meta property="og:title" content="David "Grant" McAllister Jr." />
  <meta name="author" content="grantmca" />
  <meta property="og:locale" content="en_US" />
  <meta name="description" content="My personal site" />
  <meta property="og:description" content="My personal site" />
  <meta property="og:site_name" content="David "Grant" McAllister Jr." />
  <meta property="og:type" content="website" />
</head>