---
---

<header class="wrapper-header">
  <div class="hide-on-print">
    <div class="header">
      <nav>
        <a href="/">About & Contact</a>
        <a href="/resume/">Resume</a>
      </nav>
    </div>
  </div>
</header>
